.wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
 
  .container {
    background-color: aliceblue;
    
    width: 50%;
    height: 60%;
    display: flex;
    position: relative;
    &__register{
      position: absolute;
      top: 20px;
      right: 5px;
    }
    .left {
      display: flex;
      justify-content: center;
      width: 45%;
      align-items: center;
      align-content: center;
      border: 10 px solid red;
      background-image: url('https://images.pexels.com/photos/374697/pexels-photo-374697.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=200&w=350');
      background-repeat: no-repeat;
      // word-wrap: break-word;
      p{
        color: yellow;
        font-size: 1.5rem;
      }
    }
    .right {
      width: 55%;
      background-color: rgb(87, 110, 172);
      display: flex;
      justify-content: center;
      align-items: center;
      &__form-field{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        mat-form-field{
          width: 400px;
          padding: 1rem;
        }
        button{
          width: 50%;
        }
      }
    }
  }
}

.forgot-link{
  margin-top: 1rem;
  float: right;
}

