<div class="wrapper">

    <div class="container">
        <div class="left">
            <!-- <p>Login Via Email Password</p> -->
        </div>
        <div class="container__register">
            <p>
                Don't have an account?
                <br>
                <span>
                    <a [routerLink]="['/auth/register']" href="javascript:void()"> create one</a>
                </span>
            </p>
        </div>
        <div class="right">

            <form [formGroup]="loginForm">
                <div class="right__form-field">
                    <mat-form-field class="example-full-width">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" [errorStateMatcher]="matcher"
                            placeholder="Ex. pat@example.com">
                        <mat-error *ngIf="f['email'].hasError('email') && !f['email'].hasError('required')">
                            Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="f['email'].hasError('required')">
                            Email is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="right__form-field">
                    <mat-form-field class="example-full-width">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password" [errorStateMatcher]="matcher"
                            placeholder="Ex. passs123">
                        <mat-error *ngIf="f['password'].hasError('password') && !f['password'].hasError('required')">
                            Password is not valid
                        </mat-error>
                        <mat-error *ngIf="f['password'].hasError('required')">
                            Password is <strong>required</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="right__form-field">
                    <button color="primary" mat-raised-button type="submit">Login</button>
                </div>
                <a [routerLink]="['/auth/forgot-password']" class="forgot-link">Forgot password ?</a>
            </form>
        </div>
    </div>
</div>