<div class="content" fxLayout="row" fxLayoutAlign="space-around" fx.Layout.md="column" fxLayout.sm="column"
  fxLayout.xs="row" fxFlexFill>

  <div fxFlexOrder="3" fxFlex="50"  fxFlex.xs="55" fxFlex.sm="20">
    <!-- first-section -->
  </div>
  <div  fxFlexOrder="2" fxFlex="50" class="sec2">
    <mat-card>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Login</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>hritik chokker</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>hritik chokker</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>hritik chokker</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>hritik chokker</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </div>
  <div fxFlex="55" fxFlex="50" fxFlexOrder="1"  fxFlex.xs="15">
    <!-- third-section -->
  </div>

</div>
<!-- <div class="container">
  <div fxLayout="row" fxLayoutAlign="center-center">
    <div fxFlexOrder="2">

    </div>
    <div fxFlexOrder="1">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Shiba Inu</mat-card-title>
          <mat-card-subtitle>Dog Breed</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>

  </div> -->
