.page-not-found{
    background-image: url('https://thumbs.dreamstime.com/b/page-not-found-188999431.jpg');
    height: 100%;
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    &__btn{
        margin-top: 400px;
        text-align: center;
        position: absolute;
    }
}