<div class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <h3>
        <mat-card-title>

          Forgot Password
        </mat-card-title>

      </h3>

      <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
    </mat-card-header>
    <!-- <img  mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
    <mat-card-content>
      <p>
        a link willl be sent to <b>{{emailTemp}}</b>, Please follow that to reset your password
      </p>
      <div class="forgot-form">
        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
          <div class="forgot-form__email">
            <mat-form-field>
              <mat-label>Email</mat-label>
              <input autocomplete="email" matInput placeholder="test@gmail.com" type="email" formControlName="email">
            </mat-form-field>

          </div>
        </form>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button [routerLink]="['/auth/login']" mat-button>Back to login</button>
      <button color="accent" mat-raised-button>Submit</button>
    </mat-card-actions>
  </mat-card>
</div>
